body {
    font-family: Garamond, 'Time New Roman';
    background-color: #f5f5f5;
    font-size: 15px;
    overflow-x: hidden; 
}

.clearfix {
    clear: both;
}

/* Chỉnh logo */
#logo {
    float: left;
    margin-left: 20px;
}

#header {
    border-bottom: 1px solid #968a8a;
    padding: 10px 0px;
}

/* Chỉnh nav */
ul li {
    list-style: none;
}

ul#main_menu {
    float: right;
}

ul#main_menu li {
    float: left;
}

ul#main_menu li a {
    padding: 12px 15px;
    text-decoration: none;
    color: #FAFFEB;
    font-size: 24px;
}

/* Đổi nền navbar thành màu #006769 */
.navbar {
    background-color: #006769;
    /* Xanh ngọc đậm */
    padding: 10px 0;
    overflow: hidden;
}

/* Thay đổi màu khi hover */
ul#main_menu li a:hover {
    background-color: #004d50;
    color: #fff;
}

/* Container chính chứa các block */
.container {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    padding: 20px 0;
    background-color: #f5f5f5;
    font-family: sans-serif;
}

/* Các block */
.block {
    flex: 0 0 35%;
    margin-right: 20px;
    padding: 20px;
    background-color: #ffFbe6;
    border-radius: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.block:last-child {
    margin-right: 0;
}

h2 {
    text-align: center;
    color: #006769;
    font-size: 50px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    color: #33845f;
    font-size: 30px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

/* Đầu vào cho số và văn bản */
input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Đầu vào chỉ đọc */
input[readonly] {
    background-color: #fff;
}

.button {
    display: block;
    width: 80%;
    padding: 15px;
    margin: 0 auto 10px auto;
    background-color: #40A578;
    color: #E6FF94;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #218838;
}

/* Footer */
footer {
    background-color: #464646;
    padding: 20px 0;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.textCenter {
    text-align: center;
    font-size: 14px;
    color: #968a8a;
}

.colorf {
    margin-top: 20px;
    background-color: #464646;
    padding: 10px;
}
